@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salutare</h1>
    <p>Acest proiect este o aplicație web concepută pentru a gestiona un catalog online într-un cadru universitar.</p>
    <p>Realizat de <a href="https://github.com/MariusAlexandru358/Online-grade-book">Marius-Cristian Alexandru</a>.</p>
</div>
